body {
  padding: 50px;
}

/* place-items: center */

.parentBlue {
  width: 90vw;
  height: 500px;
  background-color: aqua;
  display: grid;
  place-items: center;
}

.boxCoral {
  background-color: coral;
  padding: 2px 10px;
  border-radius: 10px;
}

/* the deconstructed pancake */

.parentWhite {
  background-color: #ffffff;
  width: 90vw;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-green {
  background-color: #d4f2c4;
  margin: 5px;
  flex: 1 1 150px;/*  Stretching: */
  flex: 0 1 150px; /*  No stretching: */
}

/* the side bar */

.parendSidebar {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  height: 75vh;
}

.sectionYellow {
  background-color: #fee8b4;
}

.purpleSection {
  background-color: #dfd3e4;
  padding: 5px;

}

.blueSection {
  background-color: #a9e2ea;
  padding: 5px;
}

.pinkSection {
  background-color:#f192bb;
  padding: 5px;

}

.greenSection {
  background-color:#d4f2c4;
}

/* The pancake stack */

.pancakeStack {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 75vh;
}


/* Classic holly grail Layout */
.holyGrail {
  height: 75vh;
  display: grid;
                      /* columns/rows */
  grid-template: auto 1fr auto / auto 1fr auto;
}

.header {
  padding: 2rem;
  /* from 1 till 4 */
  grid-column: 1/4;
}
.mainLeft {
  /* from 1 till 2 */
  grid-column: 1/2;
}

.main {
  /* from 2 till 3 */
  grid-column: 2/3;
}

.mainRight {
  /* from 3 till 4 */
  grid-column: 3/4;
}

.footer {
  padding: 2rem;
  /* from 1 till 4 */
  grid-column: 1/4;
}

/* Span Grid */

.spanGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 75vh;
}

/* centering text */
.col {
  display: grid;
  place-items: center;
  text-align: center
}

.span-12 {
  grid-column: 1/span 12;
}

.span-6 {
  grid-column: 1/span 6;
}

.span-4 {
  grid-column: 4/span 4;
}

.span-2 {
  grid-column: 3/ span 2;
}


/* RAM (Repeat, Auto, Minmax) */

.ram {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.box {
height:150px;
display: grid;
place-items: center;
text-align: center;
}


/* Line-up */
.lineUpParent {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.innerBox {
  height: 100px;
  width: 100%;
  padding: 0%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card h3 {
  margin: 0;
}


/* Clamping the style */

.clampingParent {
  height: 75vh;
  width: 75vw;
  display: grid;
  place-items: center;
}

.clampingCard {
  width: clamp(23ch, 50%, 46ch );
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.clampingBox {
  height: 125px;
  width: 100%;
  padding: 0;
}